<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>

    <div class="header1" id="header">

        <div class="header" id="icon">
            <img src="static/img/xenon.png" alt="">

        </div>

        <div class="header" id="navbar">
            <nav>
                <ul>
                    <li><a href="/" target="_blank">HOME</a></li>
                    <li><a href="/portfolio" target="_blank">PORTFOLIO </a></li>
                    <li><a href="/about" target="_blank">ABOUT</a></li>
                    <li><a href="/blogh" target="_blank">BLOGH</a></li>
                    <li><a href="/contact" target="_blank">CONTACT US</a></li>
                </ul>

            </nav>

        </div>


        <div class="header" id="gmailcontact">

            <a href="https://www.gmail.com" target="_blank"> GMAIL:abhishekkumaryadav@gmail.com</a>

            <p>MOB:7353556567/8431922937</p>



        </div>

        <div id="social">

            <div id="facebook"><a href="https://www.facebook.com" target="_blank"><img src="static/img/fb.png" alt=""></a></div>
            <div id="instagram"> <a href="https://www.instagram.com" target="_blank"><img src="static/img/instagram.png" alt=""></a></div>
            <div id="youtube"> <a href="https://www.youtube.com" target="_blank"><img src="static/img/youtube.jpg" alt=""></a></div>
            <div id="linkdin"> <a href="https://www.linkdin.com" target="_blank"><img src="static/img/linkedin.png" alt=""></a></div>
            <div id="twitter"><a href="https://www.twitter.com" target="_blank"></a><img src="static/img/twitter.png" alt=""></div>


        </div>

        <div class="header" id="search">
            <label for="mysearch">SEARCH</label>
            <input type="search" name="" id="mysearch" placeholder=" serach here">

        </div>


    </div>

    <div class="contanier">
        <form action="/contact12" class="form" method="POST">

            <div> <label for="myname">NAME:</label>
                <input type="text" name="name" id="myname" placeholder="ENTER YOUR NAME"></div>
            <div>
                <label for="mypassword">PASSWORD:</label>
                <input type="password" name="password" id="mypassword" placeholder="ENTER YOUR PASSWORD" id="password"></div>
            <div>
                <label for="mydate">DATE:</label>
                <input type="date" name="date" id="mydate" placeholder="ENTER YOUR Age">
            </div>
            <div>
                <label for="myaddress"> ADDRESS:</label>

                <input type="text" name="address" id="myaddress">
            </div>
            <div>
                <label for="myemail">GMAIL:</label>
                <input type="email" name="gmail" id="myemail" placeholder="ENTER YOUR EMAIL">
            </div>
            <div>
                <label for="mytext">CONTACT:</label>
                <input type="text" name="contact" id="mytext" placeholder="ENTER YOUR CONATCT">
            </div>
            <div id= "submit">
                <input type="submit" value="SUBMIT NOW">
                <input type="reset" value="RESET NOW">
                {{result}}


            </div>
  </form>








    </div>

</body>

</html>